<div class="row">
  <h3 class="col-md-12">Progress Bars</h3>
  <div class="col-md-6">
      <textarea data-target="#progress-demo">
      <pf-progress value="10"></pf-progress>
      <pf-progress value="20" type="info"></pf-progress>
      <pf-progress value="40" type="success"></pf-progress>
      <pf-progress value="60" type="warning" striped></pf-progress>
      <pf-progress value="80" type="danger" striped animated></pf-progress>
      </textarea>
  </div>
  <div class="col-md-6" id="progress-demo" >
    <pf-progress value="10"></pf-progress>
    <pf-progress value="20" type="info"></pf-progress>
    <pf-progress value="40" type="success"></pf-progress>
    <pf-progress value="60" type="warning" striped></pf-progress>
    <pf-progress value="80" type="danger" striped animated></pf-progress>
  </div>
</div>
